{% extends "base.html" %}
{% block title %} Welcome to Daggerford {% endblock %}


{% block content %}
  <div class="row">
    <div class="col-md-4">
      <ul>
        <li>
          {% if not category %}
            All
          {% else %}
            <a href="{{ url_for('enclave_show', enclave_id=enclave.id) }}">All</a>
          {% endif %}
        </li>
        {% for _category in enclave.categories %}
        <li>
          {% if _category == category %}
            {{ _category.name }}
          {% else %}
          <a href="{{ url_for('enclave_category', enclave_id=enclave.id, category=_category.name) }}">
            {{ _category.name }}
          </a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="col-md-4">
      <ul>
      {% for building in buildings %}
        <li>{{ building.id }} - {{ building.name }}</li>
      {% endfor %}
      </ul>
    </div>
{% endblock %}
